.news {
    display: flex;
    margin: 0 30px;
    justify-content: center; /* Center flex items horizontally */
    align-items: flex-start; 
    flex-wrap: wrap; /* Horizontally center the flex items */
}
body{
    background: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card {
    margin: 20px;
    height: 100%;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex; /* Use flexbox to center content */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}
/* CSS for disabled buttons */
.page-item.disabled .page-link {
    color: #6c757d; /* Change text color */
    background-color: #e9ecef; /* Change background color */
    border-color: #dee2e6; /* Change border color */
    pointer-events: none; /* Disable pointer events */
}
.page-item:hover{
    cursor: pointer;
}
.page-item.disabled .page-link:hover {
    cursor: not-allowed;
    color: #6c757d; /* Change text color on hover */
    background-color: #e9ecef; /* Change background color on hover */
    border-color: #dee2e6; /* Change border color on hover */
}
#logo{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#logo p{
    position: absolute;
    top: 9%;
    right: 40%;
    font-style: italic;
}
@keyframes continuousTranslate {
    0% {
        transform: translateX(30%);
    }
    50% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(30%);
    }
}

    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 2099px;
    }

.heading {
    position: relative;
    color: white;
    transform: translate(-50%, -50%);
    animation: continuousTranslate 7s linear infinite;
    text-align: center; 
    margin-bottom: 30px; 
}
